# Limpeza e Modelagem dos Dados

In [1]:
import pandas as pd

dados = pd.read_csv('busca.csv')

dados.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [1]:
# Maneira retardada
troca0 = {
    "java" : 1,
    "algoritmos" : 0,
    "ruby" : 0
}

troca1 = {
    "java" : 0,
    "algoritmos" : 1,
    "ruby" : 0
}

troca2 = {
    "java" : 0,
    "algoritmos" : 0,
    "ruby" : 1
}

dados['categoria0'] = dados.busca.map(troca0)
dados['categoria1'] = dados.busca.map(troca1)
dados['categoria2'] = dados.busca.map(troca2)

dados = dados.drop(columns = ["busca"], axis=1)

dados.head()

   home  logado  comprou  categoria0  categoria1  categoria2
0     0       1        1           0           1           0
1     0       0        1           1           0           0
2     1       0        1           0           1           0
3     1       1        0           0           0           1
4     1       0        1           0           0           1

In [2]:
# Maneira menos corna
dados = pd.read_csv('busca.csv')

x = dados[['home', 'busca', 'logado']]
y = dados['comprou']

dados.head()

   home       busca  logado  comprou
0     0  algoritmos       1        1
1     0        java       0        1
2     1  algoritmos       0        1
3     1        ruby       1        0
4     1        ruby       0        1

In [3]:
x = pd.get_dummies(x)

pd.get_dummies(x)

     home  logado  busca_algoritmos  busca_java  busca_ruby
0       0       1                 1           0           0
1       0       0                 0           1           0
2       1       0                 1           0           0
3       1       1                 0           0           1
4       1       0                 0           0           1
..    ...     ...               ...         ...         ...
995     0       0                 0           0           1
996     0       0                 0           0           1
997     0       1                 0           1           0
998     1       0                 1           0           0
999     0       1                 0           0           1

[1000 rows x 5 columns]

In [4]:
from sklearn.model_selection import train_test_split
import numpy as np

SEED = 10
np.random.seed(SEED)

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        test_size = 0.25,
                                                        stratify = y)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 750 elementos e testaremos com 250 elementos

In [5]:
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score

model = DummyClassifier()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acerto = accuracy_score(teste_y, previsoes) * 100
print("A taxa de acerto foi %.2f%%" % taxa_acerto)

A taxa de acerto foi 73.60%

C:\Users\Cliente\anaconda3\lib\site-packages\sklearn\dummy.py:131: FutureWarning: The default value of strategy will change from stratified to prior in 0.24.
  warnings.warn("The default value of strategy will change from "

In [6]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acerto = accuracy_score(teste_y, previsoes) * 100
print("A taxa de acerto foi %.2f%%" % taxa_acerto)

A taxa de acerto foi 83.20%

In [7]:
from sklearn.svm import LinearSVC

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acerto = accuracy_score(teste_y, previsoes) * 100
print("A taxa de acerto foi %.2f%%" % taxa_acerto)

A taxa de acerto foi 86.00%

In [8]:
from sklearn.svm import SVC

model = SVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acerto = accuracy_score(teste_y, previsoes) * 100
print("A taxa de acerto foi %.2f%%" % taxa_acerto)

A taxa de acerto foi 86.00%

In [9]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=3)
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

taxa_acerto = accuracy_score(teste_y, previsoes) * 100
print("A taxa de acerto foi %.2f%%" % taxa_acerto)

A taxa de acerto foi 86.00%